Repository bounswe/bounswe2019group2, pull requests merged in 2019-10, with the labels that each got.

#127 Init backend
  .gitignore
  traiders/backend/.gitignore
  traiders/backend/api/__init__.py
  traiders/backend/api/admin.py
  traiders/backend/api/apps.py
  traiders/backend/api/migrations/__init__.py
  traiders/backend/api/models.py
  traiders/backend/api/tests.py
  traiders/backend/api/urls.py
  traiders/backend/api/views.py
  traiders/backend/manage.py
  traiders/backend/requirements.txt
  traiders/backend/traiders/__init__.py
  traiders/backend/traiders/settings.py
  traiders/backend/traiders/urls.py
  traiders/backend/traiders/wsgi.py
Labels: Type: Backend

#132 create react project and add airbnb style guide
  traiders/frontend/.editorconfig
  traiders/frontend/.eslintignore
  traiders/frontend/.eslintrc.json
  traiders/frontend/.gitignore
  traiders/frontend/.prettierrc
  traiders/frontend/.stylelintignore
  traiders/frontend/.stylelintrc.json
  traiders/frontend/README.md
  traiders/frontend/package.json
  traiders/frontend/public/index.html
  traiders/frontend/public/manifest.json
  traiders/frontend/public/robots.txt
  traiders/frontend/src/App.jsx
  traiders/frontend/src/App.scss
  traiders/frontend/src/index.js
  traiders/frontend/src/index.scss
  traiders/frontend/src/serviceWorker.js
Labels: Type: Frontend

#131 initializing models
  traiders/backend/api/admin.py
  traiders/backend/api/migrations/__init__.py
  traiders/backend/api/models.py
  traiders/backend/api/models/__init__.py
  traiders/backend/api/models/equipment.py
  traiders/backend/api/models/investment.py
  traiders/backend/api/models/parity.py
  traiders/backend/api/models/user.py
  traiders/backend/traiders/settings.py
Labels: Type: Backend

#134 Implement users api
  .travis.yml
  traiders/backend/api/models/investment.py
  traiders/backend/api/models/user.py
  traiders/backend/api/serializers.py
  traiders/backend/api/templates/swagger-ui.html
  traiders/backend/api/tests.py
  traiders/backend/api/urls.py
  traiders/backend/api/views.py
  traiders/backend/requirements.txt
Labels: Type: Backend

#137 first commit
  traiders/mobile/.gitignore
  traiders/mobile/app/.gitignore
  traiders/mobile/app/build.gradle
  traiders/mobile/app/proguard-rules.pro
  traiders/mobile/app/src/androidTest/java/tk/traiders/ExampleInstrumentedTest.java
  traiders/mobile/app/src/main/AndroidManifest.xml
  traiders/mobile/app/src/main/java/tk/traiders/data/LoginDataSource.java
  traiders/mobile/app/src/main/java/tk/traiders/data/LoginRepository.java
  traiders/mobile/app/src/main/java/tk/traiders/data/Result.java
  traiders/mobile/app/src/main/java/tk/traiders/data/model/LoggedInUser.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/login/LoggedInUserView.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/login/LoginActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/login/LoginFormState.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/login/LoginResult.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/login/LoginViewModel.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/login/LoginViewModelFactory.java
  traiders/mobile/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
  traiders/mobile/app/src/main/res/drawable/ic_launcher_background.xml
  traiders/mobile/app/src/main/res/layout/activity_login.xml
  traiders/mobile/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  traiders/mobile/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  traiders/mobile/app/src/main/res/mipmap-hdpi/ic_launcher.png
  traiders/mobile/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  traiders/mobile/app/src/main/res/mipmap-mdpi/ic_launcher.png
  traiders/mobile/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  traiders/mobile/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  traiders/mobile/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  traiders/mobile/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  traiders/mobile/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  traiders/mobile/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  traiders/mobile/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  traiders/mobile/app/src/main/res/values/colors.xml
  traiders/mobile/app/src/main/res/values/dimens.xml
  traiders/mobile/app/src/main/res/values/strings.xml
  traiders/mobile/app/src/main/res/values/styles.xml
  traiders/mobile/app/src/test/java/tk/traiders/ExampleUnitTest.java
  traiders/mobile/build.gradle
  traiders/mobile/gradle.properties
  traiders/mobile/gradle/wrapper/gradle-wrapper.jar
  traiders/mobile/gradle/wrapper/gradle-wrapper.properties
  traiders/mobile/gradlew
  traiders/mobile/gradlew.bat
  traiders/mobile/settings.gradle
Labels: Status: In Progress, mobile

#136 Frontend/initialize frontend
  .travis.yml
  traiders/backend/Dockerfile
  traiders/backend/traiders/production_settings.py
  traiders/docker-compose.yaml
  traiders/frontend/.eslintrc.json
  traiders/frontend/.stylelintrc.json
  traiders/frontend/Dockerfile
  traiders/frontend/package.json
  traiders/frontend/public/index.html
  traiders/frontend/public/manifest.json
  traiders/frontend/public/robots.txt
  traiders/frontend/src/App.jsx
  traiders/frontend/src/App.scss
  traiders/frontend/src/common/ReduxStore.js
  traiders/frontend/src/common/rootReducer.js
  traiders/frontend/src/index.js
  traiders/frontend/src/index.scss
  traiders/frontend/src/modules/auth/login/Login.jsx
  traiders/frontend/src/modules/auth/register/Register.jsx
  traiders/frontend/src/modules/home/Home.jsx
  traiders/frontend/src/routing/index.jsx
  traiders/nginx.conf
Labels: Status: In Progress, Type: Frontend

#142 refactor backend
  traiders/backend/api/admin.py
  traiders/backend/api/models/__init__.py
  traiders/backend/api/models/investment.py
  traiders/backend/api/models/users.py
  traiders/backend/api/serializers/__init__.py
  traiders/backend/api/serializers/users.py
  traiders/backend/api/urls.py
  traiders/backend/api/views/__init__.py
  traiders/backend/api/views/users.py
Labels: Type: Backend

#152 Implement login api, add permission check
  .travis.yml
  traiders/backend/api/serializers.py
  traiders/backend/api/serializers/__init__.py
  traiders/backend/api/serializers/token.py
  traiders/backend/api/serializers/users.py
  traiders/backend/api/test/__init__.py
  traiders/backend/api/test/test_token.py
  traiders/backend/api/test/test_users.py
  traiders/backend/api/urls.py
  traiders/backend/api/views/__init__.py
  traiders/backend/api/views/token.py
  traiders/backend/api/views/users.py
  traiders/backend/traiders/settings.py
Labels: Type: Backend

#153 wip parity-equipment
  traiders/backend/api/serializers/__init__.py
  traiders/backend/api/serializers/equipment.py
  traiders/backend/api/serializers/parity.py
  traiders/backend/api/test/test_equipment.py
  traiders/backend/api/test/test_parity.py
  traiders/backend/api/urls.py
  traiders/backend/api/views/__init__.py
  traiders/backend/api/views/equipment.py
  traiders/backend/api/views/parity.py
Labels: Type: Backend

#155 add navbar component and make arrangement accordingly
  traiders/frontend/.stylelintrc.json
  traiders/frontend/package.json
  traiders/frontend/src/common/constants/generalConstants.js
  traiders/frontend/src/components/navbar/Navbar.jsx
  traiders/frontend/src/components/navbar/navbar.scss
  traiders/frontend/src/components/page/Page.jsx
  traiders/frontend/src/index.js
  traiders/frontend/src/modules/auth/login/Login.jsx
  traiders/frontend/src/modules/auth/register/Register.jsx
Labels: Priority: Low, Type: Frontend

#158 Frontend/currency info
  traiders/frontend/.stylelintrc.json
  traiders/frontend/package.json
  traiders/frontend/src/components/currencyInfo/CurrencyInfo.jsx
  traiders/frontend/src/components/currencyInfo/currency-info.scss
Labels: Status: In Progress, Type: Frontend

#160 update style
  traiders/frontend/src/components/currencyInfo/CurrencyInfo.jsx
  traiders/frontend/src/components/navbar/Navbar.jsx
  traiders/frontend/src/components/page/Page.jsx
  traiders/frontend/src/components/page/page.scss
  traiders/frontend/src/index.scss
  traiders/frontend/src/modules/auth/login/Login.jsx
  traiders/frontend/src/modules/auth/login/login.scss
  traiders/frontend/src/modules/auth/register/Register.jsx
  traiders/frontend/src/modules/auth/register/register.scss
Labels: Priority: Low, Type: Frontend, bug

#161 add footer component
  traiders/frontend/src/components/footer/Footer.jsx
  traiders/frontend/src/components/footer/footer.scss
  traiders/frontend/src/components/page/Page.jsx
  traiders/frontend/src/components/page/page.scss
Labels: Priority: Low, Status: In Progress, Type: Frontend

#162 fix package.json
  traiders/frontend/package.json
Labels: Type: Frontend

#163 Mobile models
  traiders/mobile/app/src/main/java/tk/traiders/models/Equipment.java
  traiders/mobile/app/src/main/java/tk/traiders/models/Parity.java
  traiders/mobile/app/src/main/java/tk/traiders/models/Token.java
  traiders/mobile/app/src/main/java/tk/traiders/models/User.java
Labels: mobile

#166 Backend/serializers
  traiders/backend/api/serializers/equipment.py
  traiders/backend/api/serializers/parity.py
  traiders/backend/api/serializers/token.py
  traiders/backend/api/test/test_parity.py
  traiders/backend/api/views/parity.py
Labels: Type: Backend

#170 Frontend/reducer
  traiders/frontend/.babelrc
  traiders/frontend/.eslintrc.json
  traiders/frontend/package.json
  traiders/frontend/src/common/http/httpUtil.js
  traiders/frontend/src/common/rootReducer.js
  traiders/frontend/src/components/page/page.scss
  traiders/frontend/src/modules/auth/login/login.scss
  traiders/frontend/src/modules/auth/register/Register.jsx
  traiders/frontend/src/modules/auth/register/RegisterContainer.jsx
  traiders/frontend/src/modules/auth/register/register.scss
  traiders/frontend/src/modules/home/Home.jsx
  traiders/frontend/src/redux/apiConfig.js
  traiders/frontend/src/redux/auth/actions.js
  traiders/frontend/src/redux/auth/reducer.js
  traiders/frontend/src/routing/index.jsx
Labels: Priority: High, Type: Frontend

#175 add splash screen & add app icon
  traiders/mobile/app/build.gradle
  traiders/mobile/app/src/main/AndroidManifest.xml
  traiders/mobile/app/src/main/ic_launcher-web.png
  traiders/mobile/app/src/main/java/tk/traiders/SplashActivity.java
  traiders/mobile/app/src/main/res/drawable/background_splash.xml
  traiders/mobile/app/src/main/res/drawable/traiders_logo.png
  traiders/mobile/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  traiders/mobile/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
  traiders/mobile/app/src/main/res/mipmap-hdpi/ic_launcher.png
  traiders/mobile/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
  traiders/mobile/app/src/main/res/mipmap-mdpi/ic_launcher.png
  traiders/mobile/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
  traiders/mobile/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  traiders/mobile/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
  traiders/mobile/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  traiders/mobile/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
  traiders/mobile/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  traiders/mobile/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
  traiders/mobile/app/src/main/res/values/attrs.xml
  traiders/mobile/app/src/main/res/values/colors.xml
  traiders/mobile/app/src/main/res/values/styles.xml
Labels: mobile

#168 Documentation improvement
  traiders/backend/api/filters/__init__.py
  traiders/backend/api/filters/parity.py
  traiders/backend/api/schemas.py
  traiders/backend/api/templates/redoc.html
  traiders/backend/api/templates/swagger-ui.html
  traiders/backend/api/test/test_parity.py
  traiders/backend/api/urls.py
  traiders/backend/api/views/parity.py
  traiders/backend/requirements.txt
  traiders/backend/traiders/settings.py
Labels: Status: Review Needed, Type: Backend

#174 Add location for user
  traiders/backend/api/models/users.py
  traiders/backend/api/test/test_users.py
Labels: Type: Backend

#182 fix Register and Auth actions
  traiders/frontend/src/modules/auth/register/Register.jsx
  traiders/frontend/src/redux/auth/actions.js
Labels: Type: Bug, Type: Frontend

#167 Implement article apis
  traiders/backend/.gitignore
  traiders/backend/Dockerfile
  traiders/backend/api/admin.py
  traiders/backend/api/models/__init__.py
  traiders/backend/api/models/article.py
  traiders/backend/api/serializers/__init__.py
  traiders/backend/api/serializers/article.py
  traiders/backend/api/test/test_article.py
  traiders/backend/api/urls.py
  traiders/backend/api/views/__init__.py
  traiders/backend/api/views/article.py
  traiders/backend/requirements.txt
  traiders/backend/traiders/production_settings.py
  traiders/backend/traiders/settings.py
  traiders/backend/traiders/urls.py
  traiders/docker-compose.yaml
  traiders/nginx.conf
Labels: Status: In Progress, Type: Backend

#184 Remove preferred currency from User
  traiders/backend/api/models/users.py
  traiders/backend/api/test/test_users.py
Labels: Type: Backend

#186 Frontend/currency table
  traiders/frontend/src/common/rootReducer.js
  traiders/frontend/src/components/currencyTable/CurrencyTable.jsx
  traiders/frontend/src/components/currencyTable/CurrencyTableContainer.jsx
  traiders/frontend/src/components/currencyTable/currency-table.scss
  traiders/frontend/src/components/page/page.scss
  traiders/frontend/src/modules/home/Home.jsx
  traiders/frontend/src/redux/parities/actions.js
  traiders/frontend/src/redux/parities/reducer.js
Labels: Type: Frontend

#199 Mobile integrate login signup
  traiders/mobile/app/build.gradle
  traiders/mobile/app/src/main/AndroidManifest.xml
  traiders/mobile/app/src/main/java/tk/traiders/LocationActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/LoginActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/MainActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/SignUpActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/markets/children/CurrencyFragment.java
  traiders/mobile/app/src/main/res/drawable/ic_exit_to_app_24dp.xml
  traiders/mobile/app/src/main/res/layout/activity_location.xml
  traiders/mobile/app/src/main/res/layout/activity_login.xml
  traiders/mobile/app/src/main/res/layout/activity_sign_up.xml
  traiders/mobile/app/src/main/res/menu/profile_menu.xml
Labels: mobile

#187 Add Article list view and tests
  traiders/backend/api/models/article.py
  traiders/backend/api/test/test_article.py
  traiders/backend/api/views/article.py
Labels: Type: Backend

#198 Profile page created
  traiders/mobile/app/build.gradle
  traiders/mobile/app/src/main/AndroidManifest.xml
  traiders/mobile/app/src/main/java/tk/traiders/WritingArticle.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/ProfileFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/ProfileViewAdapter.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/children/CommentsFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/children/FollowersFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/children/FollowingFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/children/PersonalArticlesFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/children/PersonalFragment.java
  traiders/mobile/app/src/main/res/drawable/circle.xml
  traiders/mobile/app/src/main/res/drawable/circle_border.xml
  traiders/mobile/app/src/main/res/drawable/grad.xml
  traiders/mobile/app/src/main/res/drawable/profile_page.png
  traiders/mobile/app/src/main/res/drawable/settings.png
  traiders/mobile/app/src/main/res/drawable/writing_article.png
  traiders/mobile/app/src/main/res/layout/activity_writing_article.xml
  traiders/mobile/app/src/main/res/layout/fragment_comments.xml
  traiders/mobile/app/src/main/res/layout/fragment_followers.xml
  traiders/mobile/app/src/main/res/layout/fragment_following.xml
  traiders/mobile/app/src/main/res/layout/fragment_personal.xml
  traiders/mobile/app/src/main/res/layout/fragment_personal_articles.xml
  traiders/mobile/app/src/main/res/layout/fragment_profile.xml
  traiders/mobile/app/src/main/res/values/colors.xml
  traiders/mobile/app/src/main/res/values/strings.xml
  traiders/mobile/app/src/main/res/values/styles.xml
Labels: mobile

#205 Add latest parity endpoint
  traiders/backend/api/urls.py
  traiders/backend/api/views/__init__.py
  traiders/backend/api/views/parity.py
Labels: Type: Backend

#189 Add map component
  traiders/frontend/.eslintrc.json
  traiders/frontend/package.json
  traiders/frontend/src/components/map/Map.jsx
  traiders/frontend/src/components/map/MapContainer.jsx
Labels: Priority: High, Type: Frontend, javascript

#209 Frontend/user-profile
  traiders/frontend/src/components/changePassword/ChangePassword.jsx
  traiders/frontend/src/components/userProfile/UserProfile.jsx
  traiders/frontend/src/components/userProfile/user-profile.scss
  traiders/frontend/src/index.scss
  traiders/frontend/src/routing/index.jsx
Labels: Priority: Low, Type: Frontend

#213 Profile fix
  traiders/mobile/app/build.gradle
  traiders/mobile/app/src/main/java/tk/traiders/LoginActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/MainActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/SignUpActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/ProfileFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/ProfileViewAdapter.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/children/PersonalFragment.java
  traiders/mobile/app/src/main/res/drawable/ic_enter_to_app_24dp.xml
  traiders/mobile/app/src/main/res/layout/activity_location.xml
  traiders/mobile/app/src/main/res/layout/activity_login.xml
  traiders/mobile/app/src/main/res/layout/activity_sign_up.xml
  traiders/mobile/app/src/main/res/layout/fragment_personal.xml
  traiders/mobile/app/src/main/res/menu/profile_menu_authorized.xml
  traiders/mobile/app/src/main/res/menu/profile_menu_unauthorized.xml
  traiders/mobile/app/src/main/res/values/colors.xml
Labels: mobile

#208 Update class diagram
  design/class-diagram.png
Labels: Type: Documentation

#206 Use latest parity in mobile and frontend
  traiders/frontend/src/redux/parities/actions.js
  traiders/mobile/app/src/main/java/tk/traiders/ui/markets/children/CurrencyFragment.java
Labels: Type: Frontend, mobile

#214 add swipe refresh layout and info box for error
  traiders/mobile/app/build.gradle
  traiders/mobile/app/src/main/java/tk/traiders/ui/markets/children/CurrencyFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/children/PersonalFragment.java
  traiders/mobile/app/src/main/res/drawable/ic_error_24dp.xml
  traiders/mobile/app/src/main/res/layout/currency_list_item.xml
  traiders/mobile/app/src/main/res/layout/fragment_currency.xml
Labels: mobile

#191 comment endpoints
  .travis.yml
  traiders/backend/api/admin.py
  traiders/backend/api/filters/__init__.py
  traiders/backend/api/filters/comment.py
  traiders/backend/api/models/__init__.py
  traiders/backend/api/models/comment.py
  traiders/backend/api/serializers/__init__.py
  traiders/backend/api/serializers/article.py
  traiders/backend/api/serializers/comment.py
  traiders/backend/api/test/test_articlecomments.py
  traiders/backend/api/test/test_equipmentcomments.py
  traiders/backend/api/urls.py
  traiders/backend/api/views/__init__.py
  traiders/backend/api/views/comment.py
  traiders/backend/api/views/parity.py
Labels: Type: Backend

#216 follower relation implemented
  traiders/backend/api/admin.py
  traiders/backend/api/filters/__init__.py
  traiders/backend/api/filters/following.py
  traiders/backend/api/models/__init__.py
  traiders/backend/api/models/following.py
  traiders/backend/api/models/users.py
  traiders/backend/api/serializers/__init__.py
  traiders/backend/api/serializers/following.py
  traiders/backend/api/test/test_following.py
  traiders/backend/api/test/test_users.py
  traiders/backend/api/urls.py
  traiders/backend/api/views/__init__.py
  traiders/backend/api/views/following.py
  traiders/backend/api/views/users.py
Labels: Type: Backend

#222 Backend/return ids
  traiders/backend/api/serializers/article.py
  traiders/backend/api/serializers/comment.py
  traiders/backend/api/test/test_article.py
  traiders/backend/api/test/test_articlecomments.py
  traiders/backend/api/test/test_equipmentcomments.py
Labels: Type: Backend, bug

#210 Comment Container has been added
  traiders/frontend/.eslintrc.json
  traiders/frontend/package.json
  traiders/frontend/src/components/comment/CommentContainer.jsx
Labels: Priority: Low, Type: Frontend

#227 Frontend/article page
  traiders/frontend/.stylelintrc.json
  traiders/frontend/package.json
  traiders/frontend/src/components/article/Article.jsx
  traiders/frontend/src/components/article/ArticleContainer.jsx
  traiders/frontend/src/components/article/article.scss
  traiders/frontend/src/components/articleList/ArticleList.jsx
  traiders/frontend/src/components/articleList/article-list.scss
  traiders/frontend/src/components/currencyBar/CurrencyBar.jsx
  traiders/frontend/src/components/currencyBar/CurrencyBarContainer.jsx
  traiders/frontend/src/components/currencyBar/currency-bar.scss
  traiders/frontend/src/components/currencyInfo/currency-info.scss
  traiders/frontend/src/components/currencyTable/CurrencyTable.jsx
  traiders/frontend/src/components/currencyTable/currency-table.scss
  traiders/frontend/src/components/page/Page.jsx
  traiders/frontend/src/modules/articleModule/ArticleModule.jsx
  traiders/frontend/src/modules/auth/login/Login.jsx
  traiders/frontend/src/modules/home/home.scss
  traiders/frontend/src/redux/article/actions.js
  traiders/frontend/src/redux/article/reducer.js
  traiders/frontend/src/redux/auth/actions.js
  traiders/frontend/src/redux/parities/actions.js
  traiders/frontend/src/redux/parities/reducer.js
  traiders/frontend/src/routing/index.jsx
Labels: Priority: Medium, Type: Frontend, enhancement

#223 Milestone 1 Report
  deliverables/M1-CMPE451.md
Labels: Type: Documentation

#232 Return full user in article and comment views
  traiders/backend/api/serializers/article.py
  traiders/backend/api/serializers/comment.py
Labels: Type: Backend

#233 Frontend/article list style
  traiders/frontend/package.json
  traiders/frontend/src/common/history.js
  traiders/frontend/src/common/utils/bomUtil.js
  traiders/frontend/src/components/articleList/ArticleList.jsx
  traiders/frontend/src/components/articleList/ArticleRow.jsx
  traiders/frontend/src/components/articleList/article-list.scss
  traiders/frontend/src/index.js
  traiders/frontend/src/modules/home/Home.jsx
  traiders/frontend/src/routing/index.jsx
Labels: Priority: Critical, Type: Frontend, bug, enhancement

#225 Like an Article implemented
  traiders/backend/api/models/__init__.py
  traiders/backend/api/models/likes.py
  traiders/backend/api/serializers/__init__.py
  traiders/backend/api/serializers/article.py
  traiders/backend/api/serializers/likes.py
  traiders/backend/api/test/test_article.py
  traiders/backend/api/test/test_likes.py
  traiders/backend/api/urls.py
  traiders/backend/api/views/__init__.py
  traiders/backend/api/views/likes.py
Labels: Type: Backend

#244 update list & write article
  traiders/mobile/app/src/main/AndroidManifest.xml
  traiders/mobile/app/src/main/java/tk/traiders/MainActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/WriteArticleActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/WritingArticle.java
  traiders/mobile/app/src/main/res/drawable/ic_add_photo_24dp.xml
  traiders/mobile/app/src/main/res/drawable/ic_article_add_24dp.xml
  traiders/mobile/app/src/main/res/drawable/rectangle_border.xml
  traiders/mobile/app/src/main/res/layout/activity_write_article.xml
  traiders/mobile/app/src/main/res/layout/activity_writing_article.xml
  traiders/mobile/app/src/main/res/menu/social_menu.xml
  traiders/mobile/app/src/main/res/menu/write_article_menu.xml
Labels: mobile
