Repository bounswe/bounswe2019group2, pull requests merged in 2019-11, with the labels that each got.

#237 Events API
  traiders/backend/api/admin.py
  traiders/backend/api/filters/__init__.py
  traiders/backend/api/filters/event.py
  traiders/backend/api/models/__init__.py
  traiders/backend/api/models/event.py
  traiders/backend/api/models/users.py
  traiders/backend/api/serializers/__init__.py
  traiders/backend/api/serializers/event.py
  traiders/backend/api/serializers/users.py
  traiders/backend/api/urls.py
  traiders/backend/api/views/__init__.py
  traiders/backend/api/views/event.py
  traiders/backend/requirements.txt
  traiders/backend/traiders/settings.py
Labels: Type: Backend

#247 make backend connection for write article
  traiders/mobile/app/build.gradle
  traiders/mobile/app/src/main/java/tk/traiders/MainActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/WriteArticleActivity.java
  traiders/mobile/app/src/main/res/layout/activity_view_article.xml
Labels: mobile

#239 update article list and article components according to server responses
  traiders/frontend/public/index.html
  traiders/frontend/src/components/article/Article.jsx
  traiders/frontend/src/components/articleList/ArticleRow.jsx
Labels: Priority: Low, Status: Review Needed, Type: Frontend

#250 List of comments on articles has been added
  traiders/frontend/public/index.html
  traiders/frontend/src/components/article/Article.jsx
  traiders/frontend/src/components/article/ArticleContainer.jsx
  traiders/frontend/src/components/comment/Comment.jsx
  traiders/frontend/src/components/comment/CommentContainer.jsx
  traiders/frontend/src/components/comment/comment.scss
  traiders/frontend/src/redux/article/actions.js
  traiders/frontend/src/redux/article/reducer.js
Labels: Priority: Medium, Type: Frontend, javascript

#252 update on style issues on register page and marker dragging bug been …
  traiders/frontend/src/components/map/Map.jsx
  traiders/frontend/src/components/map/MapContainer.jsx
  traiders/frontend/src/modules/auth/register/Register.jsx
Labels: Priority: Low, Type: Frontend, enhancement, javascript

#234 profile header
  traiders/frontend/src/components/userHeader/UserHeader.jsx
  traiders/frontend/src/components/userHeader/user-header.scss
  traiders/frontend/src/components/userProfile/UserProfile.jsx
  traiders/frontend/src/components/userProfile/user-profile.scss
  traiders/frontend/src/components/userProfileUpdate/UserProfileUpdate.jsx
  traiders/frontend/src/components/userProfileUpdate/user-profile-update.scss
  traiders/frontend/src/routing/index.jsx
Labels: Type: Frontend

#256 Frontend/add article
  traiders/frontend/src/common/http/httpUtil.js
  traiders/frontend/src/components/addArticle/AddArticle.jsx
  traiders/frontend/src/components/addArticle/AddArticleModule.jsx
  traiders/frontend/src/components/addArticle/add-article.scss
  traiders/frontend/src/components/article/Article.jsx
  traiders/frontend/src/components/article/article.scss
  traiders/frontend/src/components/articleList/article-list.scss
  traiders/frontend/src/components/comment/comment.scss
  traiders/frontend/src/modules/newArticle/NewArticle.jsx
  traiders/frontend/src/routing/index.jsx
Labels: Priority: High, Type: Frontend, bug, enhancement

#257 comment list, add comment, like & unlike comment, like & unlike article
  traiders/mobile/app/src/main/AndroidManifest.xml
  traiders/mobile/app/src/main/java/tk/traiders/MainActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/ViewArticleActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/components/article/ViewArticleActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/components/article/WriteArticleActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/components/article/adapters/CommentAdapter.java
  traiders/mobile/app/src/main/java/tk/traiders/constants/ArticleConstants.java
  traiders/mobile/app/src/main/java/tk/traiders/constants/CommentConstants.java
  traiders/mobile/app/src/main/java/tk/traiders/constants/LikeConstants.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/ArticleMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/CommentMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/LikeMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/models/Article.java
  traiders/mobile/app/src/main/java/tk/traiders/models/Comment.java
  traiders/mobile/app/src/main/java/tk/traiders/models/Like.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/ListFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/social/adapters/ArticlesAdapter.java
  traiders/mobile/app/src/main/java/tk/traiders/utils/DateUtils.java
  traiders/mobile/app/src/main/res/drawable/ic_add_comment_24dp.xml
  traiders/mobile/app/src/main/res/drawable/ic_play_arrow_24dp.xml
  traiders/mobile/app/src/main/res/drawable/ic_thumb_up_black_24dp.xml
  traiders/mobile/app/src/main/res/drawable/ic_thumb_up_gray_24dp.xml
  traiders/mobile/app/src/main/res/drawable/ic_thumb_up_white_24dp.xml
  traiders/mobile/app/src/main/res/drawable/rectangle_border.xml
  traiders/mobile/app/src/main/res/layout/activity_view_article.xml
  traiders/mobile/app/src/main/res/layout/activity_write_article.xml
  traiders/mobile/app/src/main/res/layout/comment_list.xml
  traiders/mobile/app/src/main/res/layout/comment_list_item.xml
  traiders/mobile/app/src/main/res/layout/list_common.xml
  traiders/mobile/app/src/main/res/menu/view_article_menu.xml
  traiders/mobile/app/src/main/res/values/styles.xml
Labels: mobile

#268 Fixing pagination and event title
  traiders/backend/api/models/event.py
  traiders/backend/api/serializers/event.py
  traiders/backend/api/views/comment.py
  traiders/backend/api/views/equipment.py
  traiders/backend/api/views/event.py
  traiders/backend/api/views/likes.py
  traiders/backend/api/views/parity.py
Labels: Type: Backend

#271 profile fix
  traiders/frontend/src/components/userProfile/UserProfile.jsx
  traiders/frontend/src/components/userProfileUpdate/UserProfileUpdate.jsx
Labels: Type: Frontend

#273 Frontend/add article
  traiders/frontend/src/common/http/httpUtil.js
  traiders/frontend/src/components/addArticle/AddArticle.jsx
  traiders/frontend/src/components/article/Article.jsx
  traiders/frontend/src/components/article/ArticleContainer.jsx
Labels: Type: Frontend, enhancement

#274 Frontend/events table
  traiders/frontend/src/common/constants/generalConstants.js
  traiders/frontend/src/common/rootReducer.js
  traiders/frontend/src/components/eventsList/events-list.scss
  traiders/frontend/src/components/eventsList/eventsList.jsx
  traiders/frontend/src/components/eventsList/eventsListContainer.jsx
  traiders/frontend/src/modules/social/Social.jsx
  traiders/frontend/src/modules/social/social.scss
  traiders/frontend/src/redux/events/actions.js
  traiders/frontend/src/redux/events/reducer.js
  traiders/frontend/src/routing/index.jsx
Labels: Type: Frontend, enhancement, javascript

#277 Fix problem with following already followed, add breaking test
  traiders/backend/api/serializers/following.py
  traiders/backend/api/test/test_following.py
Labels: Type: Backend, bug

#280 fix css of article table and events page
  traiders/frontend/src/components/articleList/article-list.scss
  traiders/frontend/src/modules/social/social.scss
Labels: Status: Review Needed, Type: Frontend, bug

#286 Frontend/bugfix
  traiders/frontend/src/components/article/Article.jsx
  traiders/frontend/src/components/article/article.scss
  traiders/frontend/src/modules/auth/login/Login.jsx
Labels: Type: Frontend, bug

#272 Use alphavantage for history and updating of parities
  traiders/backend/Dockerfile
  traiders/backend/api/__init__.py
  traiders/backend/api/admin.py
  traiders/backend/api/alphavantage.py
  traiders/backend/api/apps.py
  traiders/backend/api/filters/parity.py
  traiders/backend/api/management/__init__.py
  traiders/backend/api/management/commands/__init__.py
  traiders/backend/api/management/commands/fetchequipments.py
  traiders/backend/api/management/commands/updateparities.py
  traiders/backend/api/models/__init__.py
  traiders/backend/api/models/equipment.py
  traiders/backend/api/models/parity.py
  traiders/backend/api/models/parity_setting.py
  traiders/backend/api/schemas.py
  traiders/backend/api/serializers/parity.py
  traiders/backend/api/signal_handlers.py
  traiders/backend/api/test/test_equipment.py
  traiders/backend/api/test/test_parity.py
  traiders/backend/api/test/test_paritylatest.py
  traiders/backend/api/test/test_signal_handlers.py
  traiders/backend/api/views/parity.py
  traiders/backend/requirements.txt
  traiders/backend/run_crons.sh
  traiders/backend/traiders/production_settings.py
  traiders/docker-compose.yaml
Labels: Type: Backend

#263 fetch events
  traiders/mobile/app/src/main/java/tk/traiders/MainActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/components/article/WriteArticleActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/constants/EventConstants.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/EventMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/LikeMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/models/Event.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/children/PersonalFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/social/SocialFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/social/adapters/EventsAdapter.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/social/children/ArticlesFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/social/children/EventsFragment.java
  traiders/mobile/app/src/main/res/drawable/ic_filter_list_24dp.xml
  traiders/mobile/app/src/main/res/drawable/ic_notifications_24dp.xml
  traiders/mobile/app/src/main/res/drawable/ic_notifications_active_24dp.xml
  traiders/mobile/app/src/main/res/drawable/ic_star_black_16dp.xml
  traiders/mobile/app/src/main/res/drawable/ic_star_yellow_16dp.xml
  traiders/mobile/app/src/main/res/layout/activity_view_article.xml
  traiders/mobile/app/src/main/res/layout/activity_write_article.xml
  traiders/mobile/app/src/main/res/layout/event_list_item.xml
  traiders/mobile/app/src/main/res/layout/progress_bar.xml
  traiders/mobile/app/src/main/res/menu/articles_menu.xml
  traiders/mobile/app/src/main/res/menu/events_menu.xml
Labels: mobile

#288 Frontend/edit delete article
  traiders/frontend/src/common/http/httpUtil.js
  traiders/frontend/src/components/article/Article.jsx
  traiders/frontend/src/components/articleList/ArticleList.jsx
  traiders/frontend/src/components/currencyBar/CurrencyBar.jsx
  traiders/frontend/src/components/editArticle/EditArticle.jsx
  traiders/frontend/src/components/editArticle/EditArticleContainer.jsx
  traiders/frontend/src/components/editArticle/edit-article.scss
  traiders/frontend/src/modules/articleModule/EditArticleModule.jsx
  traiders/frontend/src/routing/index.jsx
Labels: Type: Frontend, enhancement

#255 Predictions API & Comment Likes
  traiders/backend/api/admin.py
  traiders/backend/api/apps.py
  traiders/backend/api/filters/__init__.py
  traiders/backend/api/filters/prediction.py
  traiders/backend/api/models/__init__.py
  traiders/backend/api/models/comment.py
  traiders/backend/api/models/prediction.py
  traiders/backend/api/serializers/__init__.py
  traiders/backend/api/serializers/comment.py
  traiders/backend/api/serializers/prediction.py
  traiders/backend/api/signal_handlers/__init__.py
  traiders/backend/api/signal_handlers/parity_signal_handlers.py
  traiders/backend/api/signal_handlers/prediction_signals.py
  traiders/backend/api/test/test_articlecomments.py
  traiders/backend/api/test/test_comment_likes.py
  traiders/backend/api/test/test_equipmentcomments.py
  traiders/backend/api/test/test_prediction.py
  traiders/backend/api/test/test_user_success.py
  traiders/backend/api/urls.py
  traiders/backend/api/views/__init__.py
  traiders/backend/api/views/comment.py
  traiders/backend/api/views/prediction.py
  traiders/backend/api/views/users.py
  traiders/backend/traiders/settings.py
Labels: Type: Backend

#292 Fix doc for usersuccess
  traiders/backend/api/views/users.py
Labels: Type: Backend, bug

#284 logo is added and basic css styling issues fixed.
  traiders/frontend/src/common/log0.png
  traiders/frontend/src/components/navbar/Logo.jsx
  traiders/frontend/src/components/navbar/Navbar.jsx
  traiders/frontend/src/components/navbar/navbar.scss
Labels: Priority: Low, Type: Frontend, enhancement

#294 filter events
  traiders/mobile/app/src/main/java/tk/traiders/MainActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/components/event/FilterFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/components/event/OnResultListener.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/social/children/EventsFragment.java
  traiders/mobile/app/src/main/res/layout/fragment_filter.xml
Labels: mobile

#302 save & restore event filter state
  traiders/mobile/app/src/main/java/tk/traiders/MainActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/components/event/EventFilterFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/components/event/EventFilterState.java
  traiders/mobile/app/src/main/java/tk/traiders/components/event/FilterState.java
  traiders/mobile/app/src/main/java/tk/traiders/components/event/FilterStateListener.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/social/children/EventsFragment.java
Labels: mobile

#300 Fix slow docs and parity latest
  traiders/backend/api/views/parity.py
Labels: Type: Backend

#305 Equipment
  traiders/mobile/app/src/main/AndroidManifest.xml
  traiders/mobile/app/src/main/java/tk/traiders/components/article/adapters/CommentAdapter.java
  traiders/mobile/app/src/main/java/tk/traiders/components/equipment/ViewEquipmentActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/constants/CommentConstants.java
  traiders/mobile/app/src/main/java/tk/traiders/constants/EquipmentConstants.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/CommentMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/EquipmentMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/models/Comment.java
  traiders/mobile/app/src/main/java/tk/traiders/models/Country.java
  traiders/mobile/app/src/main/java/tk/traiders/models/Equipment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/social/SocialViewPagerAdapter.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/social/adapters/EquipmentAdapter.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/social/children/EquipmentFragment.java
  traiders/mobile/app/src/main/res/drawable/ic_play_arrow_24dp.xml
  traiders/mobile/app/src/main/res/layout/activity_view_equipment.xml
  traiders/mobile/app/src/main/res/layout/comment_list.xml
  traiders/mobile/app/src/main/res/layout/equipment_list_item.xml
Labels: mobile

#310 Frontend/bugfix
  traiders/frontend/src/components/addArticle/add-article.scss
  traiders/frontend/src/components/article/Article.jsx
  traiders/frontend/src/components/article/ArticleContainer.jsx
  traiders/frontend/src/components/articleList/ArticleList.jsx
  traiders/frontend/src/components/articleList/article-list.scss
  traiders/frontend/src/components/currencyInfo/CurrencyInfo.jsx
  traiders/frontend/src/modules/home/Home.jsx
  traiders/frontend/src/redux/auth/actions.js
  traiders/frontend/src/redux/auth/reducer.js
Labels: Priority: Medium, Type: Frontend, bug, enhancement

#317 Fix country code validation
  traiders/backend/api/serializers/users.py
  traiders/backend/api/test/test_users.py
Labels: Type: Backend, bug

#304 multiple choice for event country filter
  traiders/backend/api/filters/event.py
Labels: Status: Review Needed, Type: Backend

#299 Frontend/parity page
  traiders/frontend/src/canvasjs.min.js
  traiders/frontend/src/canvasjs.react.js
  traiders/frontend/src/components/parityChart/ParityChart.jsx
  traiders/frontend/src/components/parityPage/ParityPage.jsx
  traiders/frontend/src/components/parityPage/ParityPageContainer.jsx
  traiders/frontend/src/components/parityPage/parity-page.scss
  traiders/frontend/src/redux/parities/actions.js
  traiders/frontend/src/redux/parities/reducer.js
  traiders/frontend/src/routing/index.jsx
Labels: Type: Frontend

#297 delete comment functionality added, some style issues on comments sec…
  traiders/frontend/src/components/article/Article.jsx
  traiders/frontend/src/components/article/article.scss
  traiders/frontend/src/components/comment/Comment.jsx
  traiders/frontend/src/components/comment/CommentContainer.jsx
  traiders/frontend/src/components/comment/comment.scss
Labels: Priority: Medium, Type: Frontend, enhancement, javascript

#324 Frontend registeration validations (real-time iban, password strength) and trader functionality
  traiders/frontend/src/modules/auth/register/Register.jsx
  traiders/frontend/src/redux/auth/actions.js
Labels: Priority: High, Type: Bug, Type: Frontend, bug, enhancement, javascript

#329 Filter bug fix
  traiders/mobile/app/src/main/java/tk/traiders/components/event/EventFilterFragment.java
  traiders/mobile/app/src/main/res/layout/activity_view_equipment.xml
  traiders/mobile/app/src/main/res/layout/article_list_item.xml
Labels: mobile

#332 implement chooseAvatarActivity
  traiders/mobile/app/src/main/AndroidManifest.xml
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/avatars/ChooseAvatarActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/children/PersonalFragment.java
  traiders/mobile/app/src/main/res/drawable/avatar_1.jpeg
  traiders/mobile/app/src/main/res/drawable/avatar_10.png
  traiders/mobile/app/src/main/res/drawable/avatar_11.png
  traiders/mobile/app/src/main/res/drawable/avatar_12.png
  traiders/mobile/app/src/main/res/drawable/avatar_2.jpeg
  traiders/mobile/app/src/main/res/drawable/avatar_3.jpeg
  traiders/mobile/app/src/main/res/drawable/avatar_4.jpeg
  traiders/mobile/app/src/main/res/drawable/avatar_5.jpeg
  traiders/mobile/app/src/main/res/drawable/avatar_6.jpeg
  traiders/mobile/app/src/main/res/drawable/avatar_7.jpeg
  traiders/mobile/app/src/main/res/drawable/avatar_8.jpeg
  traiders/mobile/app/src/main/res/drawable/avatar_9.jpeg
  traiders/mobile/app/src/main/res/drawable/ic_add_photo_profile_24dp.xml
  traiders/mobile/app/src/main/res/layout/activity_choose_avatar.xml
  traiders/mobile/app/src/main/res/layout/avatar_list_item.xml
  traiders/mobile/app/src/main/res/layout/fragment_personal.xml
Labels: mobile

#335 refactor markets fragment to make them inherity from partiy fragment
  traiders/mobile/app/src/main/AndroidManifest.xml
  traiders/mobile/app/src/main/java/tk/traiders/components/markets/ParityDetailsActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/constants/ParityConstants.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/ParityMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/models/Parity.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/markets/MarketsViewPagerAdapter.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/markets/adapters/CurrencyAdapter.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/markets/adapters/ParityAdapter.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/markets/children/CryptoFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/markets/children/CurrencyFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/markets/children/ParityFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/markets/children/StockFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/markets/children/util/ParityFragment.java
  traiders/mobile/app/src/main/res/layout/activity_view_parity.xml
  traiders/mobile/app/src/main/res/layout/fragment_parity.xml
  traiders/mobile/app/src/main/res/layout/parity_list_item.xml
Labels: mobile

#311 add custom table for displaying parities and trading equipment details
  traiders/frontend/src/components/currencyTable/currency-table.scss
  traiders/frontend/src/components/customTable/CustomTable.jsx
  traiders/frontend/src/components/customTable/custom-table.scss
Labels: Type: Frontend, enhancement

#327 Frontend/investments
  traiders/frontend/src/common/constants/generalConstants.js
  traiders/frontend/src/common/http/httpUtil.js
  traiders/frontend/src/common/rootReducer.js
  traiders/frontend/src/components/addInvestment/AddInvestment.jsx
  traiders/frontend/src/components/addInvestment/AddInvestmentContainer.jsx
  traiders/frontend/src/components/addInvestment/add-investment.scss
  traiders/frontend/src/components/assets/Assets.jsx
  traiders/frontend/src/components/assets/AssetsContainer.jsx
  traiders/frontend/src/components/assets/assets.scss
  traiders/frontend/src/components/myInvestments/MyInvestments.jsx
  traiders/frontend/src/components/myInvestments/MyInvestmentsContainer.jsx
  traiders/frontend/src/components/myInvestments/my-investments.scss
  traiders/frontend/src/modules/investments/InvestmentsModule.jsx
  traiders/frontend/src/modules/investments/investments-module.scss
  traiders/frontend/src/redux/investments/actions.js
  traiders/frontend/src/redux/investments/reducer.js
  traiders/frontend/src/routing/index.jsx
Labels: Type: Frontend, enhancement

#313 investments&orders api, models, views, assets, pre_save signal handling
  traiders/backend/api/admin.py
  traiders/backend/api/filters/__init__.py
  traiders/backend/api/filters/equipment.py
  traiders/backend/api/filters/investment.py
  traiders/backend/api/filters/order.py
  traiders/backend/api/models/__init__.py
  traiders/backend/api/models/investment.py
  traiders/backend/api/models/order.py
  traiders/backend/api/models/users.py
  traiders/backend/api/serializers/__init__.py
  traiders/backend/api/serializers/investment.py
  traiders/backend/api/serializers/order.py
  traiders/backend/api/serializers/users.py
  traiders/backend/api/signal_handlers/__init__.py
  traiders/backend/api/signal_handlers/investment_signals.py
  traiders/backend/api/signal_handlers/order_signals.py
  traiders/backend/api/test/test_investment.py
  traiders/backend/api/test/test_order.py
  traiders/backend/api/test/test_users.py
  traiders/backend/api/urls.py
  traiders/backend/api/views/__init__.py
  traiders/backend/api/views/equipment.py
  traiders/backend/api/views/investment.py
  traiders/backend/api/views/order.py
Labels: Status: In Progress, Type: Backend

#340 Implement email verification
  traiders/backend/api/models/users.py
  traiders/backend/api/serializers/users.py
  traiders/backend/api/templates/verification_email.txt
  traiders/backend/api/test/test_investment.py
  traiders/backend/api/test/test_order.py
  traiders/backend/api/urls.py
  traiders/backend/api/utils.py
  traiders/backend/api/views/__init__.py
  traiders/backend/api/views/verify_email.py
  traiders/backend/traiders/settings.py
Labels: Type: Backend

#341 Validate IBAN
  traiders/backend/api/models/users.py
  traiders/backend/api/serializers/users.py
  traiders/backend/api/test/test_users.py
Labels: Type: Backend

#347 Allow filter by symbol in equipment comments
  traiders/backend/api/filters/comment.py
  traiders/backend/api/test/test_equipmentcomments.py
Labels: Type: Backend

#349 Frontend/investments
  traiders/frontend/.eslintrc.json
  traiders/frontend/src/common/constants/generalConstants.js
  traiders/frontend/src/components/assets/Assets.jsx
  traiders/frontend/src/components/assets/assets.scss
  traiders/frontend/src/components/customTable/CustomTable.jsx
  traiders/frontend/src/components/customTable/custom-table.scss
  traiders/frontend/src/components/myInvestments/MyInvestments.jsx
  traiders/frontend/src/components/myInvestments/MyInvestmentsContainer.jsx
  traiders/frontend/src/components/myInvestments/my-investments.scss
  traiders/frontend/src/components/navbar/Navbar.jsx
  traiders/frontend/src/components/navbar/navbar.scss
  traiders/frontend/src/redux/investments/actions.js
  traiders/frontend/src/redux/investments/reducer.js
Labels: Type: Frontend, enhancement

#348 Frontend/bugfix
  traiders/frontend/.eslintrc.json
  traiders/frontend/src/components/addArticle/AddArticle.jsx
  traiders/frontend/src/components/articleList/ArticleList.jsx
  traiders/frontend/src/components/currencyInfo/CurrencyInfo.jsx
  traiders/frontend/src/components/currencyInfo/currency-info.scss
  traiders/frontend/src/components/currencyTable/CurrencyTable.jsx
  traiders/frontend/src/components/customTable/CustomTable.jsx
  traiders/frontend/src/components/customTable/custom-table.scss
Labels: Type: Frontend, bug, javascript

#350 Use symbol for equipmentcomment creation
  traiders/backend/api/serializers/comment.py
  traiders/backend/api/test/test_equipmentcomments.py
Labels: Type: Backend

#344 profit loss api
  traiders/backend/api/serializers/users.py
  traiders/backend/api/test/test_users.py
  traiders/backend/api/urls.py
  traiders/backend/api/views/__init__.py
  traiders/backend/api/views/investment.py
Labels: Status: Review Needed, Type: Backend

#354 Frontend registeration bug fix
  traiders/frontend/src/modules/auth/register/Register.jsx
  traiders/frontend/src/redux/auth/actions.js
Labels: Priority: Critical, Type: Bug, javascript

#352 Like functionality has been added on Article
  traiders/frontend/src/components/article/Article.jsx
  traiders/frontend/src/components/article/ArticleContainer.jsx
  traiders/frontend/src/redux/article/actions.js
Labels: Priority: Medium, Type: Frontend, enhancement, javascript

#356 Frontend/bugfix related to follow / like buttons - Comment Add
  traiders/frontend/src/components/addComment/AddComment.jsx
  traiders/frontend/src/components/addComment/AddCommentContainer.jsx
  traiders/frontend/src/components/article/Article.jsx
  traiders/frontend/src/redux/auth/actions.js
Labels: Priority: Medium, bug, javascript

#357 Frontend comment avatar and article user route handling
  traiders/frontend/src/components/article/Article.jsx
  traiders/frontend/src/components/article/article.scss
  traiders/frontend/src/components/comment/Comment.jsx
Labels: enhancement

#360 add line chart to show parity data
  traiders/mobile/app/build.gradle
  traiders/mobile/app/src/main/java/tk/traiders/components/markets/ParityDetailsActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/markets/adapters/ParityAdapter.java
  traiders/mobile/app/src/main/res/layout/activity_view_parity.xml
  traiders/mobile/build.gradle
Labels: mobile

#359 Frontend/bugfix on Delete comment equipment and re-rendering issues on comment both on article and comment on delete.
  traiders/frontend/src/components/addComment/AddComment.jsx
  traiders/frontend/src/components/addComment/AddCommentContainer.jsx
  traiders/frontend/src/components/article/Article.jsx
  traiders/frontend/src/components/comment/Comment.jsx
  traiders/frontend/src/components/comment/CommentContainer.jsx
  traiders/frontend/src/components/equipmentPage/EquipmentPage.jsx
  traiders/frontend/src/components/userHeader/UserHeader.jsx
Labels: bug

#363 fix for profile page and follow
  traiders/frontend/src/common/avatars/avatar_1.jpeg
  traiders/frontend/src/common/avatars/avatar_10.png
  traiders/frontend/src/common/avatars/avatar_11.png
  traiders/frontend/src/common/avatars/avatar_12.png
  traiders/frontend/src/common/avatars/avatar_2.jpeg
  traiders/frontend/src/common/avatars/avatar_3.jpeg
  traiders/frontend/src/common/avatars/avatar_4.jpeg
  traiders/frontend/src/common/avatars/avatar_5.jpeg
  traiders/frontend/src/common/avatars/avatar_6.jpeg
  traiders/frontend/src/common/avatars/avatar_7.jpeg
  traiders/frontend/src/common/avatars/avatar_8.jpeg
  traiders/frontend/src/common/avatars/avatar_9.jpeg
  traiders/frontend/src/common/http/httpUtil.js
  traiders/frontend/src/common/images.js
  traiders/frontend/src/components/otherUser/OtherUser.jsx
  traiders/frontend/src/components/userHeader/UserHeader.jsx
  traiders/frontend/src/components/userHeader/UserHeaderContainer.jsx
  traiders/frontend/src/components/userHeader/user-header.scss
  traiders/frontend/src/components/userProfile/UserProfile.jsx
  traiders/frontend/src/components/userProfile/UserProfileContainer.jsx
  traiders/frontend/src/components/userSuccess/UserSuccess.jsx
  traiders/frontend/src/redux/auth/actions.js
Labels: Type: Frontend

#366 add user following & follower page
  traiders/mobile/app/src/main/java/tk/traiders/LoginActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/MainActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/components/article/ViewArticleActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/components/equipment/ViewEquipmentActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/constants/FollowingConstants.java
  traiders/mobile/app/src/main/java/tk/traiders/constants/UserConstants.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/ArticleMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/CommentMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/CountryMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/EquipmentMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/EventMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/FollowingMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/LikeMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/ParityMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/UserMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/models/Following.java
  traiders/mobile/app/src/main/java/tk/traiders/models/User.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/adapters/FollowingAdapter.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/avatars/ChooseAvatarActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/children/FollowersFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/children/FollowingFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/social/SocialViewPagerAdapter.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/social/adapters/UsersAdapter.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/social/children/UsersFragment.java
  traiders/mobile/app/src/main/res/layout/fragment_social.xml
  traiders/mobile/app/src/main/res/layout/user_list_item.xml
Labels: mobile

#370 Connect choose avatar to backend
  traiders/mobile/app/src/main/java/tk/traiders/components/article/ViewArticleActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/components/article/adapters/CommentAdapter.java
  traiders/mobile/app/src/main/java/tk/traiders/components/equipment/ViewEquipmentActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/constants/CommentConstants.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/CommentMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/models/Comment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/adapters/PersonalArticlesAdapter.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/avatars/ChooseAvatarActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/children/PersonalArticlesFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/children/PersonalFragment.java
  traiders/mobile/app/src/main/res/drawable/ic_delete_24dp.xml
  traiders/mobile/app/src/main/res/drawable/ic_edit_24dp.xml
  traiders/mobile/app/src/main/res/layout/activity_view_article.xml
  traiders/mobile/app/src/main/res/layout/article_list_item_profile.xml
  traiders/mobile/app/src/main/res/layout/fragment_personal.xml
Labels: mobile

#375 Frontend comment avatar logo addition
  traiders/frontend/src/components/article/Article.jsx
  traiders/frontend/src/components/comment/Comment.jsx
  traiders/frontend/src/components/equipmentPage/EquipmentPage.jsx
Labels: enhancement

#376 Mobile vote up / down for a parity
  traiders/mobile/app/src/main/java/tk/traiders/components/markets/ParityDetailsActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/ArticleMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/CommentMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/CountryMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/EquipmentMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/EventMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/FollowingMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/LikeMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/ParityMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/UserMarshaller.java
Labels: mobile

#377 quick fix on avatar value
  traiders/frontend/src/components/comment/Comment.jsx
Labels: bug

#365 disable button for parity prediction
  traiders/frontend/src/common/rootReducer.js
  traiders/frontend/src/components/parityPage/ParityPage.jsx
  traiders/frontend/src/components/parityPage/ParityPageContainer.jsx
  traiders/frontend/src/redux/prediction/actions.js
  traiders/frontend/src/redux/prediction/reducer.js
Labels: Type: Frontend
