Repository bounswe/bounswe2019group2, pull requests merged in 2019-12, with the labels that each got.

#346 Milestone 2 Report
  deliverables/M2-CMPE451.md
  deliverables/images/Alperen Duymaz.png
  deliverables/images/Aron Dacemoglu.png
  deliverables/images/Sarp Er.png
Labels: Type: Documentation

#380 Search Endpoint
  traiders/backend/api/test/test_search.py
  traiders/backend/api/urls.py
  traiders/backend/api/views/__init__.py
  traiders/backend/api/views/search.py
Labels: Status: In Progress, Type: Backend

#383 fix multi return problem
  traiders/backend/api/views/search.py
Labels: Type: Backend

#275 Portfolio API & Tests
  traiders/backend/api/admin.py
  traiders/backend/api/filters/__init__.py
  traiders/backend/api/filters/portfolio.py
  traiders/backend/api/models/__init__.py
  traiders/backend/api/models/portfolio.py
  traiders/backend/api/serializers/__init__.py
  traiders/backend/api/serializers/portfolio.py
  traiders/backend/api/test/test_likes.py
  traiders/backend/api/test/test_portfolio.py
  traiders/backend/api/urls.py
  traiders/backend/api/views/__init__.py
  traiders/backend/api/views/portfolio.py
Labels: Status: In Progress, Type: Backend

#386 comment like functionality backend connections has completed.
  traiders/frontend/src/components/article/Article.jsx
  traiders/frontend/src/components/article/ArticleContainer.jsx
  traiders/frontend/src/components/comment/Comment.jsx
  traiders/frontend/src/components/comment/CommentContainer.jsx
  traiders/frontend/src/components/equipmentPage/EquipmentPage.jsx
  traiders/frontend/src/redux/article/actions.js
Labels: Priority: Low, Type: Frontend, enhancement, javascript

#393 implement search & recommendations
  traiders/mobile/app/src/main/java/tk/traiders/MainActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/marshallers/UserMarshaller.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/search/SearchFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/search/SearchViewPagerAdapter.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/search/children/RecommendationsFragment.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/search/children/SubSearchFragment.java
  traiders/mobile/app/src/main/res/drawable/ic_keyboard_arrow_down_24dp.xml
  traiders/mobile/app/src/main/res/drawable/ic_keyboard_arrow_up_24dp.xml
  traiders/mobile/app/src/main/res/layout/fragment_recommendations.xml
  traiders/mobile/app/src/main/res/layout/fragment_search.xml
  traiders/mobile/app/src/main/res/layout/fragment_subsearch.xml
  traiders/mobile/app/src/main/res/menu/bottom_nav_menu.xml
  traiders/mobile/app/src/main/res/navigation/mobile_navigation.xml
  traiders/mobile/app/src/main/res/values/strings.xml
Labels: mobile

#397 Implement annotation server
  traiders/annotation-server/.gitignore
  traiders/annotation-server/Dockerfile
  traiders/annotation-server/annotation/__init__.py
  traiders/annotation-server/annotation/admin.py
  traiders/annotation-server/annotation/apps.py
  traiders/annotation-server/annotation/models.py
  traiders/annotation-server/annotation/serializers.py
  traiders/annotation-server/annotation/templates/redoc.html
  traiders/annotation-server/annotation/templates/swagger-ui.html
  traiders/annotation-server/annotation/tests.py
  traiders/annotation-server/annotation/urls.py
  traiders/annotation-server/annotation/views.py
  traiders/annotation-server/annotation_server/__init__.py
  traiders/annotation-server/annotation_server/production_settings.py
  traiders/annotation-server/annotation_server/settings.py
  traiders/annotation-server/annotation_server/urls.py
  traiders/annotation-server/annotation_server/wsgi.py
  traiders/annotation-server/manage.py
  traiders/annotation-server/requirements.txt
  traiders/backend/api/schemas.py
  traiders/backend/api/urls.py
  traiders/backend/api/views/users.py
  traiders/backend/requirements.txt
  traiders/backend/traiders/settings.py
  traiders/docker-compose.yaml
  traiders/nginx.conf
Labels: Type: Backend

#401 Implementation of portfolio on Frontend
  traiders/frontend/.eslintrc.json
  traiders/frontend/src/common/constants/generalConstants.js
  traiders/frontend/src/common/rootReducer.js
  traiders/frontend/src/components/portfolio/FollowedPortfolio.jsx
  traiders/frontend/src/components/portfolio/FollowedPortfolioContainer.jsx
  traiders/frontend/src/components/portfolio/MyPortfolio.jsx
  traiders/frontend/src/components/portfolio/MyPortfolioContainer.jsx
  traiders/frontend/src/components/portfolio/Portfolios.jsx
  traiders/frontend/src/components/portfolio/followedportfolio.scss
  traiders/frontend/src/components/portfolio/myportfolio.scss
  traiders/frontend/src/components/portfolio/portfolios.scss
  traiders/frontend/src/redux/portfolio/actions.js
  traiders/frontend/src/redux/portfolio/reducer.js
  traiders/frontend/src/routing/index.jsx
Labels: Priority: Medium, Type: Frontend, enhancement, javascript

#404 Frontend/Fix profile and prediction
  traiders/frontend/src/components/customTable/CustomTable.jsx
  traiders/frontend/src/components/otherUser/OtherUser.jsx
  traiders/frontend/src/components/otherUser/OtherUserContainer.jsx
  traiders/frontend/src/components/otherUser/other-user.scss
  traiders/frontend/src/components/parityPage/ParityPage.jsx
  traiders/frontend/src/components/parityPage/parity-page.scss
  traiders/frontend/src/components/userHeader/UserHeader.jsx
  traiders/frontend/src/components/userHeader/UserHeaderContainer.jsx
  traiders/frontend/src/components/userHeader/user-header.scss
  traiders/frontend/src/components/userProfile/UserProfile.jsx
  traiders/frontend/src/components/userProfile/UserProfileContainer.jsx
  traiders/frontend/src/components/userProfile/user-profile.scss
  traiders/frontend/src/components/userSuccess/UserSuccess.jsx
  traiders/frontend/src/redux/auth/actions.js
  traiders/frontend/src/redux/auth/reducer.js
  traiders/frontend/src/redux/prediction/actions.js
  traiders/frontend/src/redux/prediction/reducer.js
Labels: Type: Enhancement, Type: Frontend

#392 Implementing Profile Mode Changing Feature
  traiders/mobile/app/build.gradle
  traiders/mobile/app/src/main/AndroidManifest.xml
  traiders/mobile/app/src/main/java/tk/traiders/LoginActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/ui/profile/children/PersonalFragment.java
  traiders/mobile/app/src/main/res/layout/activity_login.xml
  traiders/mobile/app/src/main/res/layout/fragment_personal.xml
Labels: mobile

#406 Frontend Google Sign in button and Backend Connections
  traiders/frontend/package.json
  traiders/frontend/src/common/constants/generalConstants.js
  traiders/frontend/src/modules/auth/login/Login.jsx
  traiders/frontend/src/modules/auth/login/LoginContainer.jsx
  traiders/frontend/src/modules/auth/login/login.scss
  traiders/frontend/src/redux/auth/actions.js
Labels: Priority: Medium, Type: Enhancement, Type: Frontend, enhancement

#407 Bugfix on re-rendering upon Adding new portfolio / portfolio item on My portfolios and Followed Portfolios
  traiders/frontend/src/components/portfolio/FollowedPortfolio.jsx
  traiders/frontend/src/components/portfolio/MyPortfolio.jsx
Labels: Priority: Low, Status: Completed, Type: Frontend, bug, javascript

#398 Recommendation System
  traiders/backend/api/urls.py
  traiders/backend/api/views/__init__.py
  traiders/backend/api/views/recommendation.py
  traiders/backend/api/views/search.py
Labels: Status: In Progress, Type: Backend

#411 Google Sign In Auth Key Bugs Fix
  traiders/mobile/app/src/main/java/tk/traiders/LoginActivity.java
  traiders/mobile/app/src/main/java/tk/traiders/MainActivity.java
Labels: mobile

#409 Notification API and Test
  traiders/backend/api/admin.py
  traiders/backend/api/filters/__init__.py
  traiders/backend/api/filters/notification.py
  traiders/backend/api/models/__init__.py
  traiders/backend/api/models/event.py
  traiders/backend/api/models/notification.py
  traiders/backend/api/serializers/__init__.py
  traiders/backend/api/serializers/notification.py
  traiders/backend/api/signal_handlers/__init__.py
  traiders/backend/api/signal_handlers/notification_signals.py
  traiders/backend/api/signal_handlers/order_signals.py
  traiders/backend/api/test/test_notification.py
  traiders/backend/api/urls.py
  traiders/backend/api/views/__init__.py
  traiders/backend/api/views/notification.py
Labels: Status: Review Needed, Type: Backend

#410 Frontend/recommendation
  traiders/frontend/package.json
  traiders/frontend/src/common/constants/generalConstants.js
  traiders/frontend/src/common/rootReducer.js
  traiders/frontend/src/components/parityPage/ParityPage.jsx
  traiders/frontend/src/components/recommendation/Recommendation.jsx
  traiders/frontend/src/components/recommendation/RecommendationContainer.jsx
  traiders/frontend/src/components/recommendation/recommendation.scss
  traiders/frontend/src/components/userProfile/UserProfile.jsx
  traiders/frontend/src/redux/recommendation/actions.js
  traiders/frontend/src/redux/recommendation/reducer.js
  traiders/frontend/src/routing/index.jsx
Labels: Status: In Progress, Type: Frontend

#418 Notification 2
  traiders/backend/api/filters/__init__.py
  traiders/backend/api/filters/notification.py
  traiders/backend/api/models/notification.py
  traiders/backend/api/serializers/notification.py
  traiders/backend/api/test/test_notification.py
  traiders/backend/api/views/notification.py
Labels: Type: Backend

#416 Add Portfolio screen to user's profile readjust and bugfix on functionality of buttons
  traiders/frontend/src/components/otherUser/OtherUser.jsx
  traiders/frontend/src/components/portfolio/MyPortfolio.jsx
  traiders/frontend/src/components/portfolio/followedportfolio.scss
  traiders/frontend/src/components/userProfile/UserProfile.jsx
Labels: Priority: Medium, bug, enhancement

#417 Bugfix rendering issue on article comments when article is liked.
  traiders/frontend/src/components/article/Article.jsx
Labels: Type: Frontend, bug

#425 Implement Event Follow Functionality / Bugfix on Investment Page /Implementing total profit on investment page
  traiders/frontend/src/common/constants/generalConstants.js
  traiders/frontend/src/components/eventsList/eventsList.jsx
  traiders/frontend/src/components/eventsList/eventsListContainer.jsx
  traiders/frontend/src/components/myInvestments/MyInvestments.jsx
  traiders/frontend/src/components/myOrders/MyOrders.jsx
  traiders/frontend/src/components/navbar/Navbar.jsx
  traiders/frontend/src/redux/events/actions.js
  traiders/frontend/src/redux/events/reducer.js
Labels: Priority: High, Status: Completed, Type: Frontend, bug, enhancement, javascript

#430 Alert API and Tests
  traiders/backend/api/admin.py
  traiders/backend/api/models/__init__.py
  traiders/backend/api/models/alert.py
  traiders/backend/api/serializers/__init__.py
  traiders/backend/api/serializers/alert.py
  traiders/backend/api/signal_handlers/notification_signals.py
  traiders/backend/api/signal_handlers/order_signals.py
  traiders/backend/api/test/test_alert.py
  traiders/backend/api/urls.py
  traiders/backend/api/views/__init__.py
  traiders/backend/api/views/alert.py
Labels: Type: Backend

#435 Bugfix on investment and route handling of notifications
  traiders/frontend/src/components/myInvestments/MyInvestments.jsx
  traiders/frontend/src/components/notification/Notification.jsx
  traiders/frontend/src/components/portfolio/MyPortfolio.jsx
  traiders/frontend/src/components/userProfile/UserProfileContainer.jsx
Labels: bug, javascript

#433 Milestone3 Scenarios Commands and Report
  deliverables/M3-CMPE451.md
  traiders/backend/api/management/commands/data/milestone3_scenario3_article1.txt
  traiders/backend/api/management/commands/data/milestone3_scenario3_article2.txt
  traiders/backend/api/management/commands/milestone3fixture.py
  traiders/backend/api/views/recommendation.py
Labels: Type: Documentation
